body {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.top {
  background-image: url(../images/background.png);
  color: white;
}

.link {
  color: white;
}
